@model List<PPM_Model.ProjectModel>

@{
    ViewBag.Title = "ProjectList";
}

<style>
    body {
        background-image: url('../../Content/themes/base/images/Allbg.jpg');
        background-size: cover;
        color: black;
    }
</style>

<body>
    <h2><b>ProjectList</b></h2>
    @*<a href="@Url.Action("Project")" class="btn btn-primary">+ ADD</a>*@
    <table class="table">
        <tr>
            <th>Project Id</th>
            <th>Project Name</th>
            <th>Project Start Date</th>
            <th>Project End Date</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProjectId</td>
                <td>@item.ProjectName</td>
                <td>@item.ProjectStartDate</td>
                <td>@item.ProjectEndDate</td>
                <td>
                    <a href="@Url.Action("EditProject","Project",new { id=item.ProjectId})" class="btn btn-success">Edit</a>
                    <a href="@Url.Action("DeleteProject",new {id = item.ProjectId})"
                       class="btn btn-danger" onclick="return confirm('Are you sure want to delete ? : @item.ProjectName ')">Delete</a>
                </td>
            </tr>
        }
    </table>
</body>
