@model List<PPM_Model.EmployeeModel>
@{
    ViewBag.Title = "EmployeeList";
}

<style>
    body {
        background-image: url('../../Content/themes/base/images/Allbg.jpg');
        background-size: cover;
        color: black;
    }
</style>


    @*<a href="@Url.Action("Employee")" class="btn btn-primary">+ ADD</a>*@

<body>

      
    <h2>Employee List</h2>
    <table class="table">
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Role Id</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmpId</td>
                <td>@item.EmpFirstName</td>
                <td>@item.EmpLastName</td>
                <td>@item.EmpEmail</td>
                <td>@item.EmpMobile</td>
                <td>@item.EmpAddress</td>
                <td>@item.EmpRoleId</td>

                <td>
                    <a href="@Url.Action("EditEmployee","Employee",new { id=item.EmpId})" class="btn btn-success">Edit</a>
                    <a href="@Url.Action("DeleteEmployee",new { id = item.EmpId })" class="btn btn-danger" onclick="return confirm('Are you sure want to delete ? : @item.EmpId ')">Delete</a>
                </td>
            </tr>
        }
    </table>

</body>